body {
    color: #555555;
    font-family: 'Noto Sans',  sans-serif;
}
/**********************************************************************/
/************************** COMMON ELEMENTS **************************/
/********************************************************************/
h1, h2, h3, h4, h5, h6 {
	color: #333333;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
p {
	line-height: 1.5;
	font-size: 16px;
}
a:focus {
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
/** Custom styles **/
.vis-hidden {
	visibility: hidden !important;
}
a {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
h2.sectionTitle {
	color: #555;
    font-size: 42px;
    margin-top: 0;
    float: left;
	font-weight: 700;
    margin-bottom: 50px;
	text-transform: uppercase;
	border-bottom: 10px solid #2da2c8;
}
h3.sectionTitle {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
	float: left;
}
.altWrap {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #f7f7f7;

}

hr.styled {
	width: 50%;
	margin: 0 auto 0;
	border-top: dashed 1px; 
	color: #333;
	text-align:center; 

}

/**********************************************************************/
/***************************** NAVBAR ********************************/
/********************************************************************/

.navbar {
	background: transparent;
	margin-bottom: 0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 

}
.navbar-header {
	
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

.navbar-header img{
	height: 129px;
	width: 59px;
	margin-top: -10px;
	border: 1px solid #000;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

.navbar .container{
	min-width: 70%;
		margin-left: auto !important;  
		margin-right: auto !important;
}

.navbar-inverse {
	
	background: transparent;
	/**
	background: #fff; **/
	border: 0 none;
/*	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);  */
	
}
.navbar-brand {
	line-height: 1;
    height: 60px;
    margin-top: 18px;
    margin-bottom: 22px;
    padding: 0;
    width: 100%;
	font-size: 46px;
	letter-spacing: -2px;
	font-weight: 700;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}
  .navbar-brand.smaller {
	line-height: 1;
    height: 30px;
    margin-top: -4px;
    margin-bottom: 12px;
    padding: 0 0 0 -50px;
    width: 100%;
	font-size: 28px;
		
	overflow: visible;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	}
	.navbar-header.smaller img{
	 margin-left: +25px;
	 margin-top: 8px;
	 width: 30px; 
     height: 64px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	}

	
.navbar-inverse .navbar-brand {
    color: #0094AA;
}
.navbar-inverse .navbar-brand .fa-stack {
	font-size: 28px;
}
.navbar-inverse .navbar-brand .title {
    color: #666;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background: none;
    color: #0094AA;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-nav {
	float: right;
	font-weight: 400;
	font-family: 'Fira Sans Extra Condensed',sans-serif;
	
}

.navbar-inverse .navbar-nav > li > a {
	font-family: 'Fira Sans Extra Condensed',sans-serif;
	color: #333333;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 35px 13px 25px 13px;
    text-shadow: none;

}

.navbar-inverse.smaller {
	background: #fff;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.navbar-inverse.smaller .navbar-nav > li > a{
	padding: 12px 13px 0px 13px;
}


.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #0094AA !important; 

}
.navbar-inverse .navbar-toggle {
	background: #FFFFFF;
    border: 0 none;
	margin: 19px 15px 19px 0;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #eee;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background: #333;
}

/**********************************************************************/
/************************** JUMBOTRON ********************************/
/********************************************************************/

.jumbotron {
	background: url(../assets/img/bigBG.jpg) no-repeat center center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 0;
    padding-top: 125px;
	padding-bottom: 70px;
	color: #fff;
	margin-bottom: 0;
	opacity: 0.85;
}
.jumbotron_std{
	background: url(../assets/img/bigBG.jpg) no-repeat left top scroll;
	background-position: 0px -160px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 0;
    padding-top: 125px;
	padding-bottom: 70px;
	color: #fff;
	margin-bottom: 0;
	opacity: 0.85;
}
.jumbotron .mobile {
	background-image: none;
    background-repeat: no-repeat;
    height: 470px;
	width: 240px;
    margin-left: -210px;
    margin-top: -47px;
    overflow: hidden;
    width: auto;
}
.jumbotron h1 {
	color: #fff;
    font-size: 72px;
    font-weight: 700;
	text-shadow: 0 1px 5px #222222;
}
.jumbotron h2 {
	color: #fff;
	font-weight: 300;
	text-shadow: 0 1px 5px #222222;
	margin-bottom: 30px;
}
.jumbotron .actionBtn .line1 {
	display: inline-block;
    font-size: 14px;
    font-weight: 400;
    width: 160px;
	margin-top: 10px;
}
.jumbotron .actionBtn .line2 {
	font-size: 26px;
    font-weight: 700;
	line-height: 1;
	
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
	border-radius: 6px; /* 6px rounded corners */
    transition: 0.3s;
	height: 370px;
	margin: 5px;
	background-color: #fff;
	background: url(../assets/img/backdrop1.png) no-repeat top center scroll #fff;
	background-position: 0% -10%;
	background-size: contain;
}

#green {
	background-color: #fff;
	background: url(../assets/img/backdrop3.png) no-repeat top center scroll #fff;
	background-position: 0% -2%;
	background-size: contain;
}

#orange {
    background-color: #fff;
	background: url(../assets/img/backdrop2_full.png) no-repeat scroll #fff;
	background-position: 50% 180%;
	background-size: cover;
}

.card  img {
    border-radius: 6px 6px 0 0;
	width: 100%;
	overflow: hidden;
}
.card  .tinybox {
    border-radius: 4px;
	border-style: solid;
	border-color: #0489B1;
	border-width: 1px;
	padding: 0 5px;
	background: url(../assets/img/backdrop1.png) no-repeat top right scroll #fff;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}

.card  .tinybox  h5{
	color: #0489B1;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
}

.card h4 {
	color: #222;
	font-weight: 700;
	padding-top: 0px;
	margin-bottom: 24px;
	text-transform: uppercase;
	font-size: 18px;
}
.card p {
	padding-top: 0px;
	color: #222;
	font-size: 15px;
	font-weight: 400;
	margin: 5px 0 5px 0;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	line-height: 1.3;
}

.card table {
	width: 100%;
	padding-top: 0px;
	color: #222;
	font-size: 15px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	line-height: 1.2;
	text-transform: uppercase;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

/* Add some padding inside the card container */
.card_content {
    padding: 2px 12px;
}

/**********************************************************************/
/************************** WHAT WE DO *******************************/
/********************************************************************/

#featureWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#featureWrap .icon {
	-webkit-transition:All 0.2s linear;
	-moz-transition:All 0.2s linear;
	-o-transition:All 0.2s linear;
}
#featureWrap .fa-stack.icnC {
    color: #0094AA;
    font-size: 74px;
}
#featureWrap .icon {
	background-color: #0094AA;
    border: 4px solid #0094AA;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    font-size: 80px;
    height: 148px;
    line-height: 140px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 148px;
}
#featureWrap .icon:hover {
    color: #0094AA;
	background-color: #fff;
    cursor: default;
}
#featureWrap h3 {
	font-weight: 700;
}

/**********************************************************************/
/************************ PRODUCT ************************************/
/********************************************************************/

#productWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#productWrap .productFeatures {
	margin-top: 20px;
}
#productWrap .productFeatures h3 {
	margin-top: 0;
	color: #0094AA;
}
#productWrap .productFeatures p {
	margin-bottom: 50px;
}
#productWrap .productFeatures .icon {
	text-align: right;
	color: #0094AA;
	font-size: 20px;
}
/*--------------------*/
/* BLOG SECTION */
/*--------------------*/

#blogWrap{
		border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	float: left;
	display: inline;
	width: 100%;
	padding: 50px 0px;
}
#blogWrap .blog_content {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}
#blogWrap .post_commentbox {
  display: inline;
  float: left;
  width: 100%;      
}
#blogWrap .blog_slider{
	float: left;
	display: inline;
	width: 100%;
}
#blogWrap .single_post{
	float: left;
	display: inline;
	width: 100%;
}
#blogWrap .blog_img {
  display: inline;
  float: left;
  height: 235px;
  width: 100%;
}
#blogWrap .blog_img > img {
  height: 100%;
  width: 100%;
}
#blogWrap .single_post h3 {
  float: left;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-transform: uppercase;
  width: 100%;
}
#blogWrap .post_commentbox{
	float: left;	
	display: inline;	
	width: 100%;	
	margin-bottom: 15px;	
}
#blogWrap .post_commentbox a, .post_commentbox span {
  color: #798992;
  font-size: 11px;
  margin-right: 5px;
}
#blogWrap .post_commentbox a > i,.post_commentbox span > i {
  margin-right: 5px;
}
#blogWrap .single_post P{

}
#blogWrap .read_more{
	font-size: 15px;
	display: inline-block;
	min-height: 25px;
}
#blogWrap .read_more:hover,.read_more:focus{
	text-decoration: none;	
	outline: none;	
}
#blogWrap .blog_slider .slick-prev, .slick-next {
    background-color: #2da2c8;
}
#blogWrap .blog_slider .slick-prev {
  border-radius: 5px 0 0 5px;
  color: #fff;
  height: 30px;
  left: 92%;
    right: 0;
  top: -38px;
  border-radius: 0px;
  padding: 5px 10px;
  -webkit-transition: 	all 0.5s;
  -moz-transition: 	all 0.5s;
  -ms-transition: 	all 0.5s;
  -o-transition: 	all 0.5s;
  transition: 	all 0.5s;
}
#blogWrap .blog_slider .slick-next {
  border-radius: 0 5px 5px 0;
  color: #fff;
  right: 15px;
  height: 30px;
  top: -38px;
  border-radius: 0px;
  padding: 5px 10px;
  -webkit-transition: 	all 0.5s;
  -moz-transition: 	all 0.5s;
  -ms-transition: 	all 0.5s;
  -o-transition: 	all 0.5s;
  transition: 	all 0.5s;
}
#blogWrap .blog_slider .slick-prev:hover,.blog_slider .slick-next:hover{  
	opacity: 0.7;
}
/*--------------------*/
/* CLIENTS SECTION */
/*--------------------*/

#sponsorWrap {
  display: inline;
  float: left;
  padding: 80px 0 70px;
  width: 100%;
}
#sponsorWrap .clients_content{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 30px;	
}
#sponsorWrap .clients_slider{
	float: left;
	display: inline;
	width: 100%;
}
#sponsorWrap .single_client {
  border: 1px solid #ccc;
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  padding: 25px 0px;
}
#sponsorWrap .single_client>img{
	margin: 0 auto;
}
#sponsorWrap .clients_slider .slick-prev {
  border-radius: 5px 0 0 5px;
  color: #fff;
  height: 40px;
  left: 46.5%;
  top: 160%;
}
#sponsorWrap .clients_slider .slick-next {
  border-radius: 0 5px 5px 0;
  color: #fff;
  right: 46.5%;
  top: 160%;
  height: 40px;
}

/**********************************************************************/
/************************ PRICING ************************************/
/********************************************************************/

#pricingWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#pricingWrap .priceTable {
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	margin: 0;
	padding: 0;
	background: #fff;
	list-style: none outside none;
	text-align: center;
}
#pricingWrap .priceTable .title {
	color: #333333;
	font-size: 34px;
	font-weight: 700;
	padding: 20px 10px 0;
	font-family: 'Roboto Condensed',sans-serif;
}
#pricingWrap .priceTable .description {
    color: #777777;
    font-size: 14px;
	padding: 10px 10px 20px;
}
#pricingWrap .priceTable .price {
	background: #F2F2F2;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	color: #333333;
	font-size: 26px;
	margin-bottom: 20px;
	padding: 15px 10px;
}
#pricingWrap .priceTable ul.features {
    margin: 0;
    padding: 0;
	list-style: none outside none;
}
#pricingWrap .priceTable ul.features li {
	border-bottom: 1px dotted #D2D2D2;
    color: #333333;
    font-size: 16px;
    margin: 0 30px;
    padding: 15px 0;
    text-align: center;
}
#pricingWrap .priceTable .call {
	margin: 30px 10px;
}
#pricingWrap .priceTable .call .btn {
	width: 70%;
}
#pricingWrap .priceTable.alt {
	border-color: #0094AA;
	background: #0094AA;
}
#pricingWrap .priceTable.alt .title {
	color: #fff;
}
#pricingWrap .priceTable.alt .description {
    color: #fff;
}
#pricingWrap .priceTable.alt .price {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	color: #333333;
}
#pricingWrap .priceTable.alt ul.features li {
	border-bottom: 1px dotted #fff;
    color: #fff;
}
#pricingWrap .priceTable.alt .call .btn {
	background: #FFFFFF;
    border-color: #FFFFFF;
	color: #333;
}


/**********************************************************************/
/************************ TESTIMONIALS *******************************/
/********************************************************************/

#testimonialsWrap {
	padding-top: 60px;
	padding-bottom: 40px;
}
#testimonialsWrap .slides {
	text-align: center;
}
#testimonialsWrap .quote {
	color: #777777;
	font-size: 24px;
	font-style: italic;
	margin-bottom: 15px;
}
#testimonialsWrap .author {
	color: #0094AA;
	font-size: 20px;
}

/**********************************************************************/
/************************ CONTACT ************************************/
/********************************************************************/
#contactWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#contactWrap .overlay {
    background: url("../assets/img/60.png");
	padding-bottom: 60px;
}
#contactWrap h2.sectionTitle {
    border-bottom: 1px solid #fff;
}
#contactWrap .blurb {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}
#contactWrap label {

}
#contactWrap .form-control {
    border: 1px solid #c5c5c5;
    height: 38px;
    line-height: 38px;
    margin: 0 0 10px;
    padding: 8px 5px;
    width: 100%;
	border-radius: 0;
	color: #555;
	box-shadow: none;
}
#contactWrap .form-control:focus {
	border-color: #aaa;
    box-shadow: none;
}
#contactWrap textarea.form-control {
	margin: 0 0 10px;
    max-height: 300px;
    max-width: 100%;
    width: 100%;
	min-height: 120px;
}
#contactWrap button.btn {
    margin-top: 15px;
    width: 100%;
}

/**********************************************************************/
/************************* FOOTER ************************************/
/********************************************************************/
footer {
	background: #444;
	padding: 40px 0;

}
footer p {
	color: #ddd;
    font-weight: 300;
    margin: 0 0 10px 0;
	font-size: 12px;
}
footer .social {
	margin: 0;
}
footer .social a {
	color: #DDDDDD;
	text-decoration: none;
}
footer .social a:hover {
	color: #fff;
}
footer .social a .fa-inverse {
	color: #444;
}
footer iframe{
	min-height: 500px;
}



/**********************************************************************/
/****************** MEDIA QUERIES ************************************/
/********************************************************************/
@media(max-width:1200px){
	.jumbotron .mobile {
		margin-left: -164px;
	}
	.navbar img{
	height: 64px;
	width: 30px;
	}
	
	.navbar-nav img{
	height: 0px;
	width: 0px;
	}
	
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		font-size: 28px;
		float: left;
		margin: 15px 0;
		width: auto;	
	}
	.navbar-inverse .navbar-brand .fa-stack {
		width: 1.2em;
	}
	.navbar-header.smaller img{
	 margin-left: 0px;
	 margin-top: -26px;
	 width: 27px; 
     height: 58px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	}
  .navbar-brand.smaller {
	line-height: 1;
    height: 16px;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 0 0 0 -50px;
    width: 100%;
	font-size: 28px;
	overflow: visible;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	}
	#blogWrap .blog_slider .slick-prev {
    left: 90	%;
	}
}
@media(max-width:979px){
	.navbar-collapse {
		float: right;
	}
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		font-size: 24px;
		float: left;
		margin: 15px 0;
		width: auto;	
	}

	.navbar-inverse .navbar-nav > li > a {
		font-size: 14px;
		padding: 25px 10px;
	}

	.navbar-inverse .navbar-brand .fa-stack {
		font-size: 22px;
		width: 1.8em;
	}
	.navbar-nav {
		float: right;
		width: 100%;
		margin: 4px 0 0 0;
	}

	.jumbotron {
		padding-top: 100px;
	}
	.jumbotron .jumboText {
		text-align: center;
	}
	.jumbotron h1 {
		font-size: 64px;
	}
	.jumbotron .actionBtn {
		margin-bottom: 50px;
	}
	.jumbotron .mobile {
		margin-left: -48px;
		margin: -50px auto; 
	}
	#productWrap .imgWrap img {
		margin: 0 auto 60px;
	}
	#contactWrap .blurb {
		font-size: 20px;
	}
	.navbar-header.smaller {
	 margin-top: -15px;
	 height: 22px;
		
	}
	.navbar-header.smaller img{
	 margin-left: 0px;
	 margin-top: 2px;
	 width: 30px; 
     height: 64px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	}
	#blogWrap .blog_slider .slick-prev {
    left: 85%;
	}
}
@media (max-width: 767px) {
	.navbar-collapse {
		float: none;
	}
	.navbar-nav {
		background-color: #fff;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		float: left;
		margin: 15px 0 15px 15px;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 14px;
		padding: 12px 15px;
	}
	.jumbotron {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron h1 {
		font-size: 48px;
	}
	.jumbotron h2 {
		font-size: 22px;
	}
	
	#featureWrap .feature {
		margin-bottom: 40px;
	}
	#productWrap .productFeatures .icon {
		font-size: 14px;
	}
	#pricingWrap .priceTable {
		margin-bottom: 60px;
	}
		#blogWrap .blog_slider .slick-prev {
    left: 80%;
	}

}

@media(max-width:380px){
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		font-size: 24px;
		float: left;
		margin: 15px 0 0 7px;
		width: auto;	
	}

	
	h2.sectionTitle {
    font-size: 24px;
    margin-bottom: 40px;
	border-bottom: 8px solid #2da2c8;
	}
	
	#blogWrap .blog_slider .slick-prev {
    left: 75%;
	}
}

